#sign-up {
	position: absolute;
	left: 1162px;
	font: 16px 'sans-serif', sans-serif;
	border: #323648 1px solid;
	padding: 10px 12px;
	border-radius: 5px;
	margin-top: 15px;

	color: #6D6F7B;
	border-color: #323648;
	background-color: #FFFFFF;
}

nav a {
	text-decoration: none;
	color: #6D6F7B;
}

#nav-list li {
	font: 16px 'sans-serif', sans-serif;
	display: inline-block;
	margin-right: 21px;
}

#nav-list {
	position: absolute;
	left: 675px;
	margin-top: 26px;
}

#nav_ng {
	position: absolute;
	width: 1440px;
	height: 69px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	box-shadow: 0px 1px 0px #EBEBEB;
}

#nav-logo {
	position: absolute;
	width: 95px;
	height: 28px;
	left: 108px;
	top: 21px;
}

#content {
	position: absolute;
	left: 0px;
	top: 70px;
	width: 1440px;
	height: 752px;
}

#hero-illustration {
	position: absolute;
	left: 25px;
	top: 168px;
}

#content-header {
	font: 76.8px 'Times New Roman', TimesNewRoman;
	font-weight: bold;
	color: #323648;

	position: absolute;
	left: 735.39px;
	top: 119.254px;
	width: 445.52px
	height: 156.62px
}

#content-main-text {
	position: absolute;
	left: 735.69px;
	top: 359.15px;
	width: 565.28px
}

#content-main-text p {
	font: 20px 'sans-serif', sans-serif;
	font-weight: 400;
	color: #5B5E6D;
}

#email-field {
  position: absolute;
  left: 735px;
  top: 504px;
  width: 314px;
  height: 26px;

  font: 15px 'sans-serif', sans-serif;
  border: #323648 1px solid;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 18px;

  color: #494B5A;
  border-color: #EBEBEB;
  background: #FFFFFF;
}

#get-started {
  position: absolute;
  left: 1083px;
  top: 504px;
  width: 172px;
  height: 48px;

  font: 14px 'sans-serif', sans-serif;
  font-weight: 600;
  border: 0px;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 18px;

  color: #FFFFFF;
  background-color: #3F46AD;
}

#under-main-text {
  position: absolute;
  left: 738.4px;
  top: 583.6px;

  font: 14px 'sans-serif', sans-serif;
  color: #5b5e6d;
  font-weight: 400;
}

#under-main-text a{
  text-decoration: none;
  color: #5b5e6d;
  border-bottom: 1px solid #3f46ad;
}

/*#footer_bg {
	position: absolute;
	width: 1440px;
	height: 478px;
	left: 0px;
	top: 1503px;

	background: #FFFFFF;
	box-shadow: 0px -1px 0px #EBEBEB;
}

#footer-icon {
	position: absolute;
	width: 53px;
	height: 54px;
	left: 106px;
	top: 1595px;
}*/